@model TheBugTracker.Models.Ticket

@{
    ViewData["Title"] = "Create";
}



<div>

    <div class="card shadow border-0 my-4">
        <div class="card-header bg-secondary bg-gradient text-light py-4">
            <div class="row">
                <div class="col-12 text-center">
                    <h3>New Ticket <i class="bi bi-plus-square"></i></h3>

                </div>
            </div>
        </div>
        <div class="card-body">

            <form asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="TicketTypeId" class="control-label"></label>
                    <select asp-for="TicketTypeId" class="form-control" asp-items="ViewBag.TicketTypeId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="TicketPriorityId" class="control-label"></label>
                    <select asp-for="TicketPriorityId" class="form-control" asp-items="ViewBag.TicketPriorityId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="ProjectId" class="control-label"></label>
                    <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control" id="Description1" rows="7"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary mt-2" />
                </div>
            </form>

        </div>

    </div>
</div>
@section Scripts {
    <script>
        $('#Description1').summernote({
            placeholder: "Project Description"
        });
    </script>
}